# Tech Challenge: exportação de vinhos

### Integrantes: Jackson, Haendel e Gabriel Oliveira
### Entrega: 05/07/2023

## Configurações Git

In [35]:
!git version

git version 2.25.1

In [44]:
%cd '/content/drive/MyDrive/pos_alura_tech/fase_1/fase1_tech_challenge'

/content/drive/MyDrive/pos_alura_tech/fase_1/fase1_tech_challenge

In [47]:
!git init

Initialized empty Git repository in /content/drive/MyDrive/pos_alura_tech/fase_1/fase1_tech_challenge/.git/

In [53]:
!git config --global user.email "simionato.jackson@gmail.com"

!git config --global user.name "jackson-simionato"

In [54]:
!git a

On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	ExpVinho.csv
	fase 1 - tech challenge (vinhos).ipynb

nothing added to commit but untracked files present (use "git add" to track)

## Leitura, processamento e limpeza do dataset de vinhos

[Link para download do csv](http://vitibrasil.cnpuv.embrapa.br/download/ExpVinho.csv)

In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [18]:
wine_data = pd.read_csv('/content/drive/MyDrive/pos_alura_tech/fase_1/data/raw/fase1_tech_challenge/ExpVinho.csv', sep=';')
wine_data.drop(columns=['Id'], inplace=True)
wine_data.rename(columns={'País':'pais_destino'}, inplace=True)

In [19]:
wine_data.head()

,pais_destino,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,1974,...,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
0,Afeganistão,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,46
1,África do Sul,0,0,0,0,0,0,0,0,0,...,0,0,0,0,26,95,4,21,0,0
2,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,0,...,15467,87702,10794,45382,3660,25467,6261,32605,2698,6741
3,Angola,0,0,0,0,0,0,0,0,0,...,10170,61680,477,709,345,1065,0,0,0,0
4,Anguilla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
wine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Columns: 105 entries, pais_destino to 2021.1
dtypes: int64(104), object(1)
memory usage: 101.8+ KB

In [21]:
wine_data.isna().sum().sum()

0

### Aplicando pd.melt() para "abrir" o dataframe, aumentando número de linhas e reduzindo colunas

In [22]:
wine_melted = pd.melt(wine_data, id_vars='pais_destino')
wine_melted.head()

                      pais_destino variable  value
0                      Afeganistão     1970      0
1                    África do Sul     1970      0
2  Alemanha, República Democrática     1970      0
3                           Angola     1970      0
4                         Anguilla     1970      0

### Criando variável 'ano'

In [23]:
wine_melted['ano'] = wine_melted['variable'].astype(str).str[:4].astype('datetime64').dt.year
wine_melted.head()

                      pais_destino variable  value   ano
0                      Afeganistão     1970      0  1970
1                    África do Sul     1970      0  1970
2  Alemanha, República Democrática     1970      0  1970
3                           Angola     1970      0  1970
4                         Anguilla     1970      0  1970

In [24]:
wine_melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12896 entries, 0 to 12895
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pais_destino  12896 non-null  object
 1   variable      12896 non-null  object
 2   value         12896 non-null  int64
 3   ano           12896 non-null  int64
dtypes: int64(2), object(2)
memory usage: 403.1+ KB

### Criação de dfs contendo as linhas de cada variável numérica

In [25]:
# DF para linhas com informação de litros exportados
melted_litros = wine_melted.query('variable.astype("str").str.len() == 4')
melted_litros.rename(columns={'value':'litros_exportados'}, inplace=True)
melted_litros = melted_litros[['pais_destino','ano','litros_exportados']]

<ipython-input-25-2e38d8af2da0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  melted_litros.rename(columns={'value':'litros_exportados'}, inplace=True)

In [26]:
melted_litros.head()

                      pais_destino   ano  litros_exportados
0                      Afeganistão  1970                  0
1                    África do Sul  1970                  0
2  Alemanha, República Democrática  1970                  0
3                           Angola  1970                  0
4                         Anguilla  1970                  0

In [27]:
# DF para linhas com informação de valor exportado (US$)
melted_valor = wine_melted.query('variable.astype("str").str.len() == 6')
melted_valor.rename(columns={'value':'valor_exportacao'}, inplace=True)
melted_valor = melted_valor[['pais_destino','ano','valor_exportacao']]
display(melted_valor.head())

<ipython-input-27-305ce668c350>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  melted_valor.rename(columns={'value':'valor_exportacao'}, inplace=True)

                        pais_destino   ano  valor_exportacao
124                      Afeganistão  1970                 0
125                    África do Sul  1970                 0
126  Alemanha, República Democrática  1970                 0
127                           Angola  1970                 0
128                         Anguilla  1970                 0

### Merge dos dois DFs em um único DataFrame

In [28]:
wine_df = melted_litros.merge(melted_valor, on=['pais_destino','ano'])
wine_df.head(10)

                      pais_destino   ano  litros_exportados  valor_exportacao
0                      Afeganistão  1970                  0                 0
1                    África do Sul  1970                  0                 0
2  Alemanha, República Democrática  1970                  0                 0
3                           Angola  1970                  0                 0
4                         Anguilla  1970                  0                 0
5                Antígua e Barbuda  1970                  0                 0
6              Antilhas Holandesas  1970                280               207
7                        Argentina  1970                  0                 0
8                            Aruba  1970                  0                 0
9                        Austrália  1970                  0                 0

### Filtragem dos anos de interesse (últimos 15)

In [29]:
list_15_anos = list(wine_df.ano.unique())[-15:]
print(list_15_anos)

[2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [30]:
wine_df = wine_df.query('ano in @list_15_anos').reset_index(drop=True)
wine_df.head()

                      pais_destino   ano  litros_exportados  valor_exportacao
0                      Afeganistão  2007                  0                 0
1                    África do Sul  2007                  0                 0
2  Alemanha, República Democrática  2007             119512            238052
3                           Angola  2007              25931             49753
4                         Anguilla  2007                  0                 0

### Cálculo do montante exportado por país nos últimos 15 anos

In [31]:
wine_df_15_anos = wine_df[['pais_destino',	'litros_exportados',	'valor_exportacao']].groupby('pais_destino').sum().reset_index()
wine_df_15_anos

                        pais_destino  litros_exportados  valor_exportacao
0                        Afeganistão                 11                46
1    Alemanha, República Democrática            1020933           2739079
2                             Angola             190731            621181
3                           Anguilla                  0                 0
4                Antilhas Holandesas             114027            160864
..                               ...                ...               ...
119                          Vanuatu                 18                31
120                        Venezuela              52995             83847
121                           Vietnã               9669             12736
122                    África do Sul                 30               116
123                          Áustria                675              5220

[124 rows x 3 columns]

In [32]:
# Ordenando por litros exportados
wine_df_15_anos.sort_values(by='litros_exportados', ascending=False, inplace=True)
wine_df_15_anos.reset_index(drop=True, inplace=True)
wine_df_15_anos.head(15)

                       pais_destino  litros_exportados  valor_exportacao
0                            Rússia           39230153          25559026
1                          Paraguai           25423559          32364257
2                    Estados Unidos            3822251          10046712
3                             China            2411701           4372268
4                           Espanha            1993000           3808552
5                             Japão            1502311           2612375
6                     Países Baixos            1410166           4119122
7                       Reino Unido            1305329           4717554
8                             Haiti            1238100           1586194
9   Alemanha, República Democrática            1020933           2739079
10                         Portugal             526742            739088
11                          Bélgica             402916           1392832
12                           França             318208            706582
13                             Cuba             273697            309724
14                        Austrália             273290            457230

In [33]:
#Criação
wine_df_15_anos['pais_origem'] = 'Brasil'
wine_df_15_anos = wine_df_15_anos[['pais_origem','pais_destino','litros_exportados','valor_exportacao']]
wine_df_15_anos.head()

  pais_origem    pais_destino  litros_exportados  valor_exportacao
0      Brasil          Rússia           39230153          25559026
1      Brasil        Paraguai           25423559          32364257
2      Brasil  Estados Unidos            3822251          10046712
3      Brasil           China            2411701           4372268
4      Brasil         Espanha            1993000           3808552

In [55]:
wine_df_15_anos.to_csv('/content/drive/MyDrive/pos_alura_tech/fase_1/fase1_tech_challenge/data/processed/wine_data_15_years.csv', index=False)